---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/chrismytton/everypolitician-data/pulls/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4929'
      X-Ratelimit-Reset:
      - '1453223246'
      Last-Modified:
      - Tue, 19 Jan 2016 16:13:18 GMT
      Etag:
      - W/"d662e14700c04801b551a0ede2c7d4af"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/chrismytton/everypolitician-data/pulls/1","id":56487533,"html_url":"https://github.com/chrismytton/everypolitician-data/pull/1","diff_url":"https://github.com/chrismytton/everypolitician-data/pull/1.diff","patch_url":"https://github.com/chrismytton/everypolitician-data/pull/1.patch","issue_url":"https://api.github.com/repos/chrismytton/everypolitician-data/issues/1","number":1,"state":"open","locked":false,"title":"Faroe
        islands test","user":{"login":"chrismytton","id":22996,"avatar_url":"https://avatars.githubusercontent.com/u/22996?v=3","gravatar_id":"","url":"https://api.github.com/users/chrismytton","html_url":"https://github.com/chrismytton","followers_url":"https://api.github.com/users/chrismytton/followers","following_url":"https://api.github.com/users/chrismytton/following{/other_user}","gists_url":"https://api.github.com/users/chrismytton/gists{/gist_id}","starred_url":"https://api.github.com/users/chrismytton/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrismytton/subscriptions","organizations_url":"https://api.github.com/users/chrismytton/orgs","repos_url":"https://api.github.com/users/chrismytton/repos","events_url":"https://api.github.com/users/chrismytton/events{/privacy}","received_events_url":"https://api.github.com/users/chrismytton/received_events","type":"User","site_admin":false},"body":"Testing
        pull_request_preview changes","created_at":"2016-01-19T16:13:18Z","updated_at":"2016-01-19T16:13:18Z","closed_at":null,"merged_at":null,"merge_commit_sha":"e139bbe50d4e52cd4c0954b6252b656aae3a774d","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/chrismytton/everypolitician-data/pulls/1/commits","review_comments_url":"https://api.github.com/repos/chrismytton/everypolitician-data/pulls/1/comments","review_comment_url":"https://api.github.com/repos/chrismytton/everypolitician-data/pulls/comments{/number}","comments_url":"https://api.github.com/repos/chrismytton/everypolitician-data/issues/1/comments","statuses_url":"https://api.github.com/repos/chrismytton/everypolitician-data/statuses/ae558b802e5a4fc9180301d811f88bdfed703655","head":{"label":"chrismytton:faroe-islands-logting-1453214825","ref":"faroe-islands-logting-1453214825","sha":"ae558b802e5a4fc9180301d811f88bdfed703655","user":{"login":"chrismytton","id":22996,"avatar_url":"https://avatars.githubusercontent.com/u/22996?v=3","gravatar_id":"","url":"https://api.github.com/users/chrismytton","html_url":"https://github.com/chrismytton","followers_url":"https://api.github.com/users/chrismytton/followers","following_url":"https://api.github.com/users/chrismytton/following{/other_user}","gists_url":"https://api.github.com/users/chrismytton/gists{/gist_id}","starred_url":"https://api.github.com/users/chrismytton/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrismytton/subscriptions","organizations_url":"https://api.github.com/users/chrismytton/orgs","repos_url":"https://api.github.com/users/chrismytton/repos","events_url":"https://api.github.com/users/chrismytton/events{/privacy}","received_events_url":"https://api.github.com/users/chrismytton/received_events","type":"User","site_admin":false},"repo":{"id":49943863,"name":"everypolitician-data","full_name":"chrismytton/everypolitician-data","owner":{"login":"chrismytton","id":22996,"avatar_url":"https://avatars.githubusercontent.com/u/22996?v=3","gravatar_id":"","url":"https://api.github.com/users/chrismytton","html_url":"https://github.com/chrismytton","followers_url":"https://api.github.com/users/chrismytton/followers","following_url":"https://api.github.com/users/chrismytton/following{/other_user}","gists_url":"https://api.github.com/users/chrismytton/gists{/gist_id}","starred_url":"https://api.github.com/users/chrismytton/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chrismytton/subscriptions","organizations_url":"https://api.github.com/users/chrismytton/orgs","repos_url":"https://api.github.com/users/chrismytton/repos","events_url":"https://api.github.com/users/chrismytton/events{/privacy}","received_events_url":"https://api.github.com/users/chrismytton/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/chrismytton/everypolitician-data","description":"","fork":true,"url":"https://api.github.com/repos/chrismytton/everypolitician-data","forks_url":"https://api.github.com/repos/chrismytton/everypolitician-data/forks","keys_url":"https://api.github.com/repos/chrismytton/everypolitician-data/keys{/key_id}","collaborators_url":"https://api.github.com/repos/chrismytton/everypolitician-data/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/chrismytton/everypolitician-data/teams","hooks_url":"https://api.github.com/repos/chrismytton/everypolitician-data/hooks","issue_events_url":"https://api.github.com/repos/chrismytton/everypolitician-data/issues/events{/number}","events_url":"https://api.github.com/repos/chrismytton/everypolitician-data/events","assignees_url":"https://api.github.com/repos/chrismytton/everypolitician-data/assignees{/user}","branches_url":"https://api.github.com/repos/chrismytton/everypolitician-data/branches{/branch}","tags_url":"https://api.github.com/repos/chrismytton/everypolitician-data/tags","blobs_url":"https://api.github.com/repos/chrismytton/everypolitician-data/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/chrismytton/everypolitician-data/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/chrismytton/everypolitician-data/git/refs{/sha}","trees_url":"https://api.github.com/repos/chrismytton/everypolitician-data/git/trees{/sha}","statuses_url":"https://api.github.com/repos/chrismytton/everypolitician-data/statuses/{sha}","languages_url":"https://api.github.com/repos/chrismytton/everypolitician-data/languages","stargazers_url":"https://api.github.com/repos/chrismytton/everypolitician-data/stargazers","contributors_url":"https://api.github.com/repos/chrismytton/everypolitician-data/contributors","subscribers_url":"https://api.github.com/repos/chrismytton/everypolitician-data/subscribers","subscription_url":"https://api.github.com/repos/chrismytton/everypolitician-data/subscription","commits_url":"https://api.github.com/repos/chrismytton/everypolitician-data/commits{/sha}","git_commits_url":"https://api.github.com/repos/chrismytton/everypolitician-data/git/commits{/sha}","comments_url":"https://api.github.com/repos/chrismytton/everypolitician-data/comments{/number}","issue_comment_url":"https://api.github.com/repos/chrismytton/everypolitician-data/issues/comments{/number}","contents_url":"https://api.github.com/repos/chrismytton/everypolitician-data/contents/{+path}","compare_url":"https://api.github.com/repos/chrismytton/everypolitician-data/compare/{base}...{head}","merges_url":"https://api.github.com/repos/chrismytton/everypolitician-data/merges","archive_url":"https://api.github.com/repos/chrismytton/everypolitician-data/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/chrismytton/everypolitician-data/downloads","issues_url":"https://api.github.com/repos/chrismytton/everypolitician-data/issues{/number}","pulls_url":"https://api.github.com/repos/chrismytton/everypolitician-data/pulls{/number}","milestones_url":"https://api.github.com/repos/chrismytton/everypolitician-data/milestones{/number}","notifications_url":"https://api.github.com/repos/chrismytton/everypolitician-data/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/chrismytton/everypolitician-data/labels{/name}","releases_url":"https://api.github.com/repos/chrismytton/everypolitician-data/releases{/id}","created_at":"2016-01-19T10:07:24Z","updated_at":"2016-01-19T10:08:05Z","pushed_at":"2016-01-19T16:13:18Z","git_url":"git://github.com/chrismytton/everypolitician-data.git","ssh_url":"git@github.com:chrismytton/everypolitician-data.git","clone_url":"https://github.com/chrismytton/everypolitician-data.git","svn_url":"https://github.com/chrismytton/everypolitician-data","homepage":"http://everypolitician.org/","size":380594,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"chrismytton:master","ref":"master","sha":"5626bbf15069eae43b71d13b86f9483134f477dd","user":{"login":"chrismytton","id":22996,"avatar_url":"https://avatars.githubusercontent.com/u/22996?v=3","gravatar_id":"","url":"https://api.github.com/users/chrismytton","html_url":"https://github.com/chrismytton","followers_url":"https://api.github.com/users/chrismytton/followers","following_url":"https://api.github.com/users/chrismytton/following{/other_user}","gists_url":"https://api.github.com/use[...]
